name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: [4.0.0-preview3, 3.4.8, 3.3.9, 3.2.8, 3.1.7]

    name: CI Ruby ${{ matrix.ruby }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install Gems
        run: bundle install
      - name: RSpec
        run: bundle exec rspec
      - name: Standard
        run: bundle exec standardrb
      - name: Codacy Coverage
        if: ${{ matrix.ruby == '3.4.8' }}
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
